# iAtomica 2.0 Environment Configuration Template

PORT=3001
VITE_API_URL=/api

# User Credentials
VITE_USER1_NAME=Sofía Martínez
VITE_USER1_EMAIL=atencion@iatomica.com
VITE_USER1_PASS=pass123
VITE_USER1_ROLE=Atención Público

VITE_USER2_NAME=Ing. Lucas Varela
VITE_USER2_EMAIL=tecnico@iatomica.com
VITE_USER2_PASS=pass123
VITE_USER2_ROLE=Consultoría Técnica

VITE_USER3_NAME=Lic. Mateo Rossi
VITE_USER3_EMAIL=admin@iatomica.com
VITE_USER3_PASS=pass123
VITE_USER3_ROLE=Administrador
